* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace ;
  --font-family-sans: var(--font-roboto);
}

body {
  background-color: black;
  color: white;
  font-family: var(--font-family-sans), sans-serif;
}

html {
  scroll-behavior: smooth;
}